<html><head></head><body>@import url(&#39;
https://fonts.googleapis.com/css?family=Nova+Mono|Lato|Oswald&#39;
);
 *, *:before, *:after {
	 box-sizing: border-box;
}
 html {
	 font-size: 16px;
}
 @media only screen and (min-width: 1192px) {
	 html {
		 font-size: 18px;
	}
}
 @media only screen and (min-width: 1200px) {
	 html {
		 font-size: 20px;
	}
}
 body {
	 background-color: #2c233f;
	 font-family: &#34;
	Lato&#34;
	, sans-serif;
	 color: #c6c0d7;
}
 h1, h2, h3 {
	 font-family: &#34;
	Oswald&#34;
	, sans-serif;
}
 .website {
	 background-color: #342d4e;
	 margin: 20px;
	 border-radius: 20px;
}
 .section {
	 padding: 20px;
	 max-width: 960px;
	 margin: auto;
}
 .section--fullwidth {
	 max-width: 100%;
}
 .section__row:not(:last-child) {
	 margin-bottom: 20px;
}
 .section__title {
	 text-align: center;
	 text-transform: uppercase;
}
 .nav {
	 display: flex;
	 justify-content: space-between;
}
 .nav__brand {
	 min-width: 160px;
	 min-height: 80px;
	 background-color: #5a4f7c;
	 border-radius: 10px;
	 margin: auto;
}
 @media only screen and (min-width: 768px) {
	 .nav__brand {
		 margin: 0;
	}
}
 .nav__menu {
	 display: none;
	 margin: 0;
	 padding: 0;
}
 @media only screen and (min-width: 768px) {
	 .nav__menu {
		 display: flex;
		 justify-content: flex-end;
	}
}
 .nav__item {
	 display: block;
	 list-style: none;
	 min-width: 80px;
	 min-height: 30px;
	 background-color: #5a4f7c;
	 border-radius: 20px;
	 margin: auto 10px;
}
 .button {
	 display: block;
	 margin: auto;
	 border: none;
	 border-radius: 20px;
	 background-color: #f5a623;
	 text-transform: uppercase;
	 font-weight: bold;
	 color: white;
	 padding: 20px 50px;
}
 .box {
	 position: relative;
	 background-color: #5a4f7c;
	 border-radius: 20px;
	 overflow: hidden;
}
 .box:before {
	 display: block;
	 content: &#34;
	&#34;
	;
	 width: 100%;
	 padding-top: 100%;
}
 .box &gt;
 * {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
}
 .box--16-9 {
	 position: relative;
}
 .box--16-9:before {
	 display: block;
	 content: &#34;
	&#34;
	;
	 width: 100%;
	 padding-top: 56.25%;
}
 .box--16-9 &gt;
 * {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
}
 .box--16-9 .box__inner:after {
	 content: &#34;
	aspect ratio: 16:9&#34;
	;
}
 .box--4-3 {
	 position: relative;
}
 .box--4-3:before {
	 display: block;
	 content: &#34;
	&#34;
	;
	 width: 100%;
	 padding-top: 75%;
}
 .box--4-3 &gt;
 * {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
}
 .box--4-3 .box__inner:after {
	 content: &#34;
	aspect ratio: 4:3&#34;
	;
}
 .box__inner {
	 background-size: cover;
	 border-radius: 20px;
	 overflow: hidden;
	 z-index: 0;
}
 .box__inner:before {
	 content: &#34;
	&#34;
	;
	 position: absolute;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 right: 0;
	 border-radius: 20px;
	 z-index: 1;
}
 .box__inner:after {
	 content: &#34;
	aspect ratio: 2:3&#34;
	;
	 position: absolute;
	 bottom: 20px;
	 right: 20px;
	 font-family: &#39;
	Nova Mono&#39;
	, monospace;
	 font-size: 0.6em;
	 color: white;
}
 .section--thumbnails {
	 display: none;
}
 @media only screen and (min-width: 768px) {
	 .section--thumbnails {
		 display: block;
	}
}
 @media only screen and (min-width: 768px) {
	 .hero .box {
		 position: relative;
	}
	 .hero .box:before {
		 display: block;
		 content: &#34;
		&#34;
		;
		 width: 100%;
		 padding-top: 56.25%;
	}
	 .hero .box &gt;
	 * {
		 position: absolute;
		 top: 0;
		 left: 0;
		 right: 0;
		 bottom: 0;
	}
}
 @media only screen and (min-width: 1192px) {
	 .hero .box {
		 position: relative;
	}
	 .hero .box:before {
		 display: block;
		 content: &#34;
		&#34;
		;
		 width: 100%;
		 padding-top: 25%;
	}
	 .hero .box &gt;
	 * {
		 position: absolute;
		 top: 0;
		 left: 0;
		 right: 0;
		 bottom: 0;
	}
}
 .hero .box .box__inner img {
	 width: 100%;
}
 @media only screen and (min-width: 768px) {
	 .hero .box .box__inner:after {
		 content: &#34;
		aspect ratio: 16:9&#34;
		;
	}
}
 @media only screen and (min-width: 1192px) {
	 .hero .box .box__inner:after {
		 content: &#34;
		aspect ratio: 16:4&#34;
		;
	}
}
 .thumbs {
	 display: flex;
	 justify-content: space-between;
}
 .thumbs__item {
	 flex-basis: 24%;
}
 .article {
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: space-between;
}
 .article__figure {
	 flex: 1 100%;
}
 @media only screen and (min-width: 1192px) {
	 .article__figure {
		 flex: 1 0;
	}
}
 .article__figure .box, .article__figure .box__inner {
	 border-radius: 0;
}
 .article__text {
	 flex: 1 100%;
	 text-align: justify;
	 margin-top: 20px;
}
 @media only screen and (min-width: 1192px) {
	 .article__text {
		 flex: 2 0;
		 margin-top: 0;
	}
}
 @media only screen and (min-width: 1192px) {
	 .article__text--left {
		 order: -1;
		 padding-right: 40px;
	}
}
 @media only screen and (min-width: 1192px) {
	 .article__text--right {
		 padding-left: 40px;
	}
}
 .article__text p {
	 margin-top: 0;
}
 .article__text h3 {
	 margin-top: 0;
	 margin-bottom: 0.5em;
}
 .grid {
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: space-around;
}
 .grid__item {
	 flex: 0 calc(50% - 10px);
}
 @media only screen and (min-width: 768px) {
	 .grid__item {
		 flex: 0 calc(25% - 20px);
	}
}
 @media only screen and (min-width: 1192px) {
	 .grid__item {
		 flex: 0 calc(20% - 20px);
	}
}
 .figure__media img {
	 display: block;
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 visibility: hidden;
	 opacity: 0;
	 will-change: opacity;
	 transition: opacity 1s;
}
 .figure__media img.twic-done {
	 visibility: visible;
	 opacity: 1;
}
 .figure__caption h3 {
	 text-align: center;
	 margin-top: 0.5em;
	 font-size: 0.9em;
}
 </body></html>
